body {
  font-family: 'Courier New', Courier, monospace;
  background: #909090;
  color: #e4e4e4;
}

#debug-game-state-info {
  font-weight: bold;
  border: 2px solid #626262;
  padding: 12px;
  margin: 12px;
}