:root {
  --theme-border-color: #3147af;

  --card-border-color: #3a3a30;
  --card-border-hover: #a01499;
  --card-body-hover: #fdfaeb;
  --card-body-color: #e4dec3;
  --card-text-color: black;
  --card-disabled-border-color: #9e9e9e;
  --card-disabled-body-color: #d3d3d3;
  --card-disabled-text-color: #808080;
  --card-width: 110px;

  --message-body-color: #31312d;
  --message-text-color: #fafae7;

  --magic-border-color: #6e3574;
  --magic-body-color: #f1b8d5;
  --magic-text-color: rgb(87, 0, 99);
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  line-height: 20px;
  background: #f2f2f2;
  color: #222222;
  padding: 12px;
}

img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.ptr {
  cursor: pointer;
}
.button  {
  display: inline-block;
  border: 2px solid #8294eb;
  border-radius: 4px;
  background: #92a1ecab;
  font-size: 1.2em;
  font-weight: bold;
  margin: 4px;
  padding: 12px;
  cursor: pointer;
}
.button:hover {
  color: #999999;
  border: 2px solid #e4e4e4;
  background: #e4e4e459;
}
.message {
  margin: 4px;
  padding: 12px;
  text-align: right;
  background-color: var(--message-body-color);
  color: var(--message-text-color);
  font-weight: bold;
}

#game-view {
  display: flex;
  min-width: 860px;
}
#left-column {
  flex: 1;
  padding: 6px;
}
#right-column {
  width: 340px;
  padding: 6px;
}

#hero-view {
  padding: 12px;
}
#status-view {
  display: block;
  padding-bottom: 4px;
  border-bottom: 2px solid var(--theme-border-color);
  font-weight: bold;
}
.hero-health {
  color: #912525;
}
.hero-mana {
  color: #572591;
}

.card-holder{
  width: 200px;
  height: 240px;
  perspective: 1000px;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
  transform-style: preserve-3d;
  border: 12px solid var(--card-border-color);
  background-color: var(--card-body-color);
}
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}
.flipped {
  transform: rotateY(180deg);
}
.card {
  display: flex;
  flex-direction: column;
  color: var(--card-text-color);
  padding: 8px;
  margin: 4px;
  cursor: pointer;
}
.card-borders {
  border: 8px solid var(--card-border-color);
  background-color: var(--card-body-color);
}
.card:hover {
  background-color: var(--card-body-hover);
}
.card-small {
  flex: 1;
  font-size: 0.7em;
}
.card[disabled] {
  border-color: var(--card-disabled-border-color);
  background-color: var(--card-disabled-body-color);
  color: var(--card-disabled-text-color);
  filter: grayscale();
}

.card-title {
  font-weight: bold;
  border-bottom: 1px solid var(--card-border-color);
  margin-bottom: 4px;
  text-transform: uppercase;
}
.card-title-big { font-size: 1.2em; }
.card-image {
  padding-bottom: 4px;
  width: 98px;
  height: 98px;
  object-fit: contain;
  align-self: center;
}
.card-image-big { width: 120px; height: 120px; }
.card-image-holder {
  align-self: center;
  display: flex;
  height: 98px;
}
.card-description {
  padding-bottom: 4px;
  border-top: 1px solid var(--card-border-color);
  border-bottom: 1px solid var(--card-border-color);
}

#cave-view {
  padding: 12px;
  min-height: 320px;
}
.cave-action-ok {
  text-align: right;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1.3em;
  font-weight: bolder;
  cursor: pointer;
  padding: 12px;
}

#cave-selected-back {
  display: flex;
  flex-direction: column;
  border: 12px solid var(--card-border-color);
  background-color: var(--card-body-color);
  color: var(--card-text-color);
  padding: 8px;
  margin: 4px;
  max-width: var(--cave-card-width);
  cursor: pointer;
}
.cave-selected-back-title {
  font-weight: bold;
  text-transform: uppercase;
}
.cave-selected-back-description {
  padding-bottom: 4px;
  border-top: 2px solid var(--card-border-color);
  border-bottom: 2px solid var(--card-border-color);
}
.cave-action-back-description {
  padding: 12px;
  text-align: right;
  color: var(--card-text-color);
  font-weight: bold;
}

#grimoire-view {
  margin-top: 8px;
  display: block;
}
.grimoire-magic {
  display: inline-block;
  border: 8px solid var(--magic-border-color);
  border-radius: 32px;
  background-color: var(--magic-body-color);
  color: var(--card-text-color);
  padding: 16px;
  margin: 4px;
  font-size: 0.7em;
  max-width: var(--card-width);
}

#hand-view {
  padding: 12px;
}
.hand-view-container {
  display: flex;
}
