#cave-view {
  padding: 12px;
}
#cave-selected-card {
  display: flex;
  flex-direction: column;
  border: 12px solid var(--card-border-color);
  background-color: var(--card-body-color);
  color: var(--card-text-color);
  padding: 8px;
  margin: 4px;
  max-width: var(--cave-card-width);
  cursor: pointer;
}
.cave-selected-card-title {
  font-weight: bold;
  border-bottom: 2px solid var(--card-border-color);
  padding-bottom: 4px;
  margin-bottom: 6px;
  text-transform: uppercase;
}
.cave-selected-card-image {
  padding-bottom: 4px;
  width: 120px;
  align-self: center;
}
.cave-selected-card-description {
  padding-bottom: 4px;
}

#cave-button {
  display: inline-block;
  border: 2px solid #8294eb;
  border-radius: 4px;
  background: #92a1ecab;
  font-size: 1.2em;
  font-weight: bold;
  margin: 4px;
  padding: 12px;
  cursor: pointer;
}
#cave-button:hover {
  color: #999999;
  border: 2px solid #e4e4e4;
  background: #e4e4e459;
}
