#cave-view {
  padding: 12px;
  min-height: 320px;
}
#cave-selected-card {
  display: flex;
  flex-direction: column;
  border: 12px solid var(--card-border-color);
  background-color: var(--card-body-color);
  color: var(--card-text-color);
  padding: 8px;
  margin: 4px;
  max-width: var(--cave-card-width);
  cursor: pointer;
}
.cave-selected-card-title {
  font-weight: bold;
  border-bottom: 2px solid var(--card-border-color);
  padding-bottom: 4px;
  margin-bottom: 6px;
  text-transform: uppercase;
}
.cave-selected-card-image {
  padding-bottom: 4px;
  width: 120px;
  align-self: center;
}
.cave-selected-card-description {
  padding-bottom: 4px;
  border-top: 2px solid var(--card-border-color);
  border-bottom: 2px solid var(--card-border-color);
}
.cave-action-description {
  padding: 12px;
  text-align: right;
  border: 12px solid var(--card-border-color);
  background-color: var(--card-body-color);
  color: var(--card-text-color);
  font-weight: bold;
}
.cave-action-ok {
  text-align: right;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1.3em;
  font-weight: bolder;
  cursor: pointer;
  padding: 12px;
}

#cave-selected-back {
  display: flex;
  flex-direction: column;
  border: 12px solid var(--card-border-color);
  background-color: var(--card-body-color);
  color: var(--card-text-color);
  padding: 8px;
  margin: 4px;
  max-width: var(--cave-card-width);
  cursor: pointer;
}
.cave-selected-back-title {
  font-weight: bold;
  text-transform: uppercase;
}
.cave-selected-back-description {
  padding-bottom: 4px;
  border-top: 2px solid var(--card-border-color);
  border-bottom: 2px solid var(--card-border-color);
}
.cave-action-back-description {
  padding: 12px;
  text-align: right;
  color: var(--card-text-color);
  font-weight: bold;
}