#grimoire-view {
  margin-top: 8px;
  display: block;
}
.grimoire-magic {
  display: inline-block;
  border: 8px solid var(--magic-border-color);
  border-radius: 32px;
  background-color: var(--magic-body-color);
  color: var(--card-text-color);
  padding: 16px;
  margin: 4px;
  font-size: 0.7em;
  max-width: var(--card-width);
}
